<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <form action="/admin/signUp" method="post">

        Name: <input type="text" name="name" required>
        Email: <input type="email" name="email" required>
        Mobile: <input type="tel" name="mobile" required>
        Password: <input type="password" name="pass" required>

        <button>Submit</button>

    </form>

</body>
</html>